<script>
  const options = document.querySelectorAll("label");
  for (let i = 0; i < options.length; i++) {
    options[i].addEventListener("click", () => {
      for (let j = 0; j < options.length; j++) {
        if (options[j].classList.contains("selected")) {
          options[j].classList.remove("selected");
        }
      }

      options[i].classList.add("selected");
      for (let k = 0; k < options.length; k++) {
        options[k].classList.add("selectall");
      }

      let forVal = options[i].getAttribute("for");
      let selectInput = document.querySelector("#" + forVal);
      let getAtt = selectInput.getAttribute("type");
      if (getAtt == "checkbox") {
        selectInput.setAttribute("type", "radio");
      } else if (selectInput.checked == true) {
        options[i].classList.remove("selected");
        selectInput.setAttribute("type", "checkbox");
      }

      let array = [];
      for (let l = 0; l < options.length; l++) {
        if (options[l].classList.contains("selected")) {
          array.push(l);
        }
      }
      if (array.length == 0) {
        for (let m = 0; m < options.length; m++) {
          options[m].removeAttribute("class");
        }
      }
    });
  }

  const opt1 = document.getElementById("opt-1");
  opt1.addEventListener("click", () => {
    console.log("Opt-1 clicked");
    question.votes_one += 1;
    const total =
      question.votes_one +
      question.votes_two +
      question.votes_three +
      question.votes_four;
    document.getElementById("percent1").innerHTML =
      (question.votes_one / total) * 100 + "%";
  });
  const opt2 = document.getElementById("opt-2");
  opt2.addEventListener("click", () => {
    console.log("Opt-2 clicked");
  });
  const opt3 = document.getElementById("opt-3");
  opt3.addEventListener("click", () => {
    console.log("Opt-3 clicked");
  });
  const opt4 = document.getElementById("opt-4");
  opt4.addEventListener("click", () => {
    console.log("Opt-4 clicked");
  });
</script>
